# exclude files from the generated tarball
.git* export-ignore
.vscode export-ignore
**/*.mjs export-ignore
theme/**/ts export-ignore

theme/**/plugins/** linguist-vendored
theme/**/js/** linguist-vendored
